*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(0deg, #6139a5 0%, #4570df 100%);
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
}

.game-board {
  border: 5px solid black;
  background-color: #213224;
  position: relative;
}

.board-grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.block-container {
  position: relative;
}

.block-grid {
  border: 1px solid rgba(161, 161, 161, 0.1);
}

.block {
  position: absolute;
  border-radius: 2px;
  border-width: 5px;
  border-style: outset;
}

.block-outline {
  position: absolute;
  border: 1px solid black;
}

/* TODO: set border color */
.block-I {
  background-color: cyan;
}

.block-J {
  background-color: blue;
}

.block-L {
  background-color: orange;
}

.block-O {
  background-color: yellow;
}

.block-S {
  background-color: green;
}

.block-T {
  background-color: purple;
}

.block-Z {
  background-color: red;
}

.popup-bg {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.popup-content h2 {
  margin-top: 0;
}

.popup-content button {
  width: 90%;
  padding: 10px 20px;
  margin: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.popup-content button:hover {
  background-color: #0056b3;
}

.command-console {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.command-history {
  background-color: hsla(0, 0%, 0%, 0.25);
  color: hsla(0, 0%, 100%, 0.5);
  height: 120px;
  overflow-y: auto;
  text-wrap: wrap;
}

.command-input {
  background-color: hsla(0, 0%, 0%, 0.25);
  color: hsla(0, 0%, 100%, 0.5);
  width: 100%;
}
