.game-board {
  background-color: var(--board-color);
  position: relative;
  border: 5px solid var(--frame-color);
  border-radius: 0 0 4px 0;
  filter: drop-shadow(var(--board-shadow));
}

.board-grid {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
}

.block-container {
  position: relative;
}

.block-grid {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.block {
  position: absolute;
  border-radius: 2px;
  border: 4px outset;
  z-index: 10;
}

.block-ghost {
  position: absolute;
  border-radius: 2px;
  border: 2px groove;
  z-index: 5;
}

.block-I {
  background-color: var(--block-I-color);
  border-color: var(--block-I-border);
}

.block-J {
  background-color: var(--block-J-color);
  border-color: var(--block-J-border);
}

.block-L {
  background-color: var(--block-L-color);
  border-color: var(--block-L-border);
}

.block-O {
  background-color: var(--block-O-color);
  border-color: var(--block-O-border);
}

.block-S {
  background-color: var(--block-S-color);
  border-color: var(--block-S-border);
}

.block-T {
  background-color: var(--block-T-color);
  border-color: var(--block-T-border);
}

.block-Z {
  background-color: var(--block-Z-color);
  border-color: var(--block-Z-border);
}

.ghost-I {
  border-color: var(--block-I-color);
}

.ghost-J {
  border-color: var(--block-J-color);
}

.ghost-L {
  border-color: var(--block-L-color);
}

.ghost-O {
  border-color: var(--block-O-color);
}

.ghost-S {
  border-color: var(--block-S-color);
}

.ghost-T {
  border-color: var(--block-T-color);
}

.ghost-Z {
  border-color: var(--block-Z-color);
}

.glow {
  background-color: #fff;
  border-color: #fff;
  border-style: solid;
  box-shadow: 0 0 10px 2px #fff, 0 0 5px 1px #fff;
  z-index: 20;
  animation: fadeOut 0.08s ease-in 0.02s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1.8, 0.5);
  }
  50% {
    opacity: 1;
    transform: scale(2.2, 0.2);
  }
  100% {
    opacity: 0;
    transform: scale(3, 0);
  }
}
