*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --block-I-color: #4d90f5;
  --block-I-border: #55c3e1;
  --block-J-color: #5314d2;
  --block-J-border: #3768e2;
  --block-L-color: #fa760a;
  --block-L-border: #f28b03;
  --block-O-color: #f9df0b;
  --block-O-border: #f1ed7e;
  --block-S-color: #3cbb12;
  --block-S-border: #8dcb69;
  --block-T-color: #8407b1;
  --block-T-border: #9640b6;
  --block-Z-color: #d61208;
  --block-Z-border: #da423b;

  --board-color: rgba(0, 0, 0, 0.9);
  --frame-color: #47d8b5;
  --board-shadow: 5px 5px 3px rgba(50, 50, 0, 0.5);
  --notch-size: 10px;

  --title-color: #002d28;
}

body {
  background: linear-gradient(0deg, #008c8d 0%, #02136d 100%);
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif;
  color: white;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Audiowide", sans-serif;
}

img {
  max-width: 100%;
}

button {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

button:focus {
  outline: none;
}

button:focus,
button:hover {
  filter: brightness(85%);
}

.notch-right-corners {
  clip-path: polygon(
    0% 0%,
    calc(100% - var(--notch-size)) 0%,
    100% var(--notch-size),
    100% calc(100% - var(--notch-size)),
    calc(100% - var(--notch-size)) 100%,
    0% 100%
  );
}

.notch-left-corners {
  clip-path: polygon(
    0% var(--notch-size),
    var(--notch-size) 0%,
    100% 0%,
    100% 100%,
    var(--notch-size) 100%,
    0% calc(100% - var(--notch-size))
  );
}

.game {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.shadow-wrap {
  filter: drop-shadow(var(--board-shadow));
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next-wrapper {
  padding: 5px 10px 10px 5px;
  text-align: center;
  background-color: var(--frame-color);
}

.next-content {
  background-color: var(--board-color);
  padding: 15px 15px 0 15px;
  border: 2px outset #6d6d6d;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* border: 1px solid red; */
}

.hold-wrapper {
  padding: 5px 5px 10px 10px;
  text-align: center;
  background-color: var(--frame-color);
}

.hold-content {
  background-color: var(--board-color);
  padding: 15px;
  border: 2px outset #6d6d6d;
  border-radius: 2px;
}

.score-wrapper {
  padding: 10px 5px 10px 10px;
  text-align: center;
  background-color: var(--frame-color);
  max-width: 145px;
}

.score-content {
  background-color: rgba(18, 18, 18, 0.5);
  color: white;
  min-height: 34px;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  padding: 5px 2px;
  border-radius: 2px;
  word-wrap: break-word;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.score-content:not(:last-child) {
  margin-bottom: 6px;
}

.side-title {
  margin-bottom: 5px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 1.125rem;
  color: var(--title-color);
}

.preview-piece {
  width: 96px;
  height: 72px;
  position: relative;
  /* border: 1px solid red;, */
}
