.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.modal-mask {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background: linear-gradient(0deg, #a9def9 0%, #fcf6bd 100%);
  padding: 20px;
  border-radius: 14px;
  border: 5px outset #fcf6bd;
}

.modal-title {
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  color: var(--title-color);
}

.modal-title-white {
  color: white;
}

.home-modal-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 620px;
  background: linear-gradient(0deg, #32a5b9 0%, #12679a 100%);
  padding: 20px;
  border-radius: 14px;
  border: 5px outset #32a5b9;
}

.info {
  list-style-type: none;
  padding-left: 0;
}

.info li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 600;
}

.info li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 1em;
  height: 1em;
  border-radius: 2px;
}

.info li:nth-child(1)::before {
  background-color: var(--block-S-color);
  border: 4px outset var(--block-S-border);
}

.info li:nth-child(2)::before {
  background-color: var(--block-L-color);
  border: 4px outset var(--block-L-border);
}

.info li:nth-child(3)::before {
  background-color: var(--block-J-color);
  border: 4px outset var(--block-J-border);
}

.info li:nth-child(4)::before {
  background-color: var(--block-Z-color);
  border: 4px outset var(--block-Z-border);
}

.btn-vertical-layout-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.btn-horizontal-layout-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.btn {
  width: 80%;
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.25rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.play-btn {
  width: 170px;
  background-color: #ffbb00;
  font-size: 1.5rem;
  margin-top: 20px;
}

.resume-btn,
.restart-btn {
  background-color: #4ca13b;
}

.quit-btn {
  background-color: #d60800;
}

.done-btn {
  width: 170px;
}

.controls {
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  /* margin-bottom: 20px; */
  border: 2px solid red;
}

.gameover-score-content {
  background-color: #a7c7e7;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info-modal-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background: linear-gradient(0deg, #a9def9 0%, #fcf6bd 100%);
  /* background: linear-gradient(0deg, #32a5b9 0%, #12679a 100%); */
  padding: 20px;
  border-radius: 14px;
  border: 5px outset #fcf6bd;
}

.info-content {
  display: grid;
  grid-template-columns: auto 200px;
  /* gap: 10px; */
  /* margin-bottom: 20px; */
  /* align-items: center; */
}

.score-info {
  padding: 20px;
  border: 2px solid red;
  border-radius: 20px;
}
